*{
    margin: 0%;
    padding: 0%;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.clock{
    border: 1px solid #606060;
    color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    background-color: #245cb5;

}
#Date{
    font-size: 20px !important;
    text-align: center;
}
.clock ul{
    list-style: none;
    display: flex;
    font-size: 50px;
    gap: 20px;
}